<div class="container my-5">
  <h2 class="mb-4">Phone Management</h2>

  <div class="card mb-4">
    <div class="card-header">Add New Phone</div>
    <div class="card-body">
      <form id="createPhoneForm" (ngSubmit)="addPhone()" #createPhoneForm="ngForm">
        <div class="row g-3">
          <div class="col-md-4">
            <input
              type="text"
              [(ngModel)]="phone.phoneNumber"
              name="phoneNumber"
              #phoneNumberModel="ngModel"
              class="form-control"
              placeholder="Phone Number"
              id="phoneNumber"
              required
              pattern="^[0-9]{9}$"
            >
            <div *ngIf="phoneNumberModel.invalid && phoneNumberModel.touched" class="text-danger mt-1">
              <small *ngIf="phoneNumberModel.errors?.['required']">Provide phone number (exactly 9 numbers).</small>
              <small *ngIf="phoneNumberModel.errors?.['pattern']">Phone number must be exactly 9 digits.</small>
            </div>
          </div>

          <div class="col-md-4">
            <input
              type="text"
              [(ngModel)]="phone.phoneName"
              name="phoneName"
              #phoneNameModel="ngModel"
              class="form-control"
              placeholder="Phone Name"
              id="phoneName"
              required
              maxlength="15"
            >
            <div *ngIf="phoneNameModel.invalid && phoneNameModel.touched" class="text-danger mt-1">
              <small *ngIf="phoneNameModel.errors?.['required']">Provide phone name.</small>
              <small *ngIf="phoneNameModel.errors?.['maxlength']">Phone name can have up to 15 characters.</small>
            </div>
          </div>

          <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100" [disabled]="createPhoneForm.invalid">
              Add Phone
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Phones List</div>
    <div class="card-body">
      <table class="table table-bordered" id="phoneTable">
        <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Phone Number</th>
          <th>Phone Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          @for (item of phones; track $index){
            <tr>
              <td>{{item.phoneId}}</td>
              <td>{{item.phoneNumber}}</td>
              <td>{{item.phoneName}}</td>
              <td>
                <button class="btn btn-sm btn-warning" (click)="openModal(item)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deletePhone(item.phoneId)">Delete</button>
                }
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal" #editModal tabindex="-1" aria-labelledby="editPhoneModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form (ngSubmit)="editPhone()"  #editForm="ngForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPhoneModalLabel">Edit Person</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)='closeModal()'></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="editPhoneNumber" class="form-label">Phone Number</label>
              <input
                type="text"
                [(ngModel)]="ePhone.phoneNumber"
                #editPhoneNumberModel="ngModel"
                name="ediPhoneNumber"
                id="editPhoneNumber"
                class="form-control"
                required
                pattern="^[0-9]{9}$"
              />
            </div>
            <div *ngIf="editPhoneNumberModel.invalid && editPhoneNumberModel.touched" class="text-danger mt-1">
              <small *ngIf="editPhoneNumberModel.errors?.['required']">Provide phone number (exactly 9 numbers).</small>
              <small *ngIf="editPhoneNumberModel.errors?.['pattern']">Phone number must be exactly 9 digits.</small>
            </div>
            <div class="mb-3">
              <label for="editPhoneName" class="form-label">Phone Name</label>
              <input
                type="text"
                [(ngModel)]="ePhone.phoneName"
                #editPhoneNameModel="ngModel"
                name="editPhoneName"
                id="editPhoneName"
                class="form-control"
                required
                maxlength="15"
              />
            </div>
            <div *ngIf="editPhoneNameModel.invalid && editPhoneNameModel.touched" class="text-danger mt-1">
              <small *ngIf="editPhoneNameModel.errors?.['required']">Provide phone name.</small>
              <small *ngIf="editPhoneNameModel.errors?.['maxlength']">Phone name can have up to 15 characters.</small>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)='closeModal()'>Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
